MuleB/Assignment 4/beginnerapp3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="ced3d978-2318-44ed-abb0-de23f7710ab8" >
		<salesforce:cached-basic-connection username="shubham.chaurasia@metacube.com" password="1234@abcd" securityToken="YAHnHdpgrUw58vlUcsNi1tdFL" />
	</salesforce:sfdc-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP_Listener_config" doc:id="04df53e9-a752-4fd6-a14e-622b05c3d101" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="972a00d9-c8db-40fb-ab6b-e4af8de33dca" >
		<file:connection workingDir="C:\Users\Shubham\AnypointStudio\studio-workspace\beginnerapp3" />
	</file:config>
	<flow name="beginnerapp3Flow" doc:id="81c63760-031a-4545-96ba-9e9ba355b912" >
		<http:listener doc:name="Listener" doc:id="808b7c04-29d2-456b-b968-41afd8884251" config-ref="HTTP_Listener_config" path="/accounts" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="76493950-c6ad-40be-9277-20d181e2ca28">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map (items,index) ->
{
	Name:items.Name,
	Phone:items.Phone
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="d182a7e8-e8db-438c-b8a1-4530ed6308ef" config-ref="Salesforce_Config" type="Account" />
		<ee:transform doc:name="Transform Message" doc:id="75824248-b94c-42d4-b484-49d9ff23bb1b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="64fb036a-c22e-41fe-b5e5-bf988510da3f" config-ref="File_Config" path="C:\Users\Shubham\AnypointStudio\studio-workspace\beginnerapp3\output\tmp.csv" />
		<logger level="INFO" doc:name="Logger" doc:id="173697c7-59e1-417f-9226-a9504f65b775" message="#[payload]"/>
	</flow>
</mule>
