MuleB/Assignment 1/beginnerapp1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f35ee948-e771-4c6c-b583-4fc1d317c274" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="beginnerapp1Flow1" doc:id="fcb1f011-5484-4a41-91c5-8af20bbd9886" >
		<http:listener doc:name="Listener" doc:id="a86bcb2c-35c5-46bd-9e19-caf53c524ae5" config-ref="HTTP_Listener_config" path="/home"/>
		<set-payload value="#[now()]" />
		<logger level="INFO" doc:name="Logger" doc:id="be867c62-7911-4351-bc26-4c2c66b7dc4c" message="Current path is #[attributes.requestPath]" />
	</flow>
</mule>
